.card-footer a{
  color: #fff;
}
.btn-primary, .btn-secondary {
  color: #fff;
  background-color: #4c9f38;
  border-color: #4c9f38;
}
.btn-primary:hover, .btn-secondary:hover {
  color: #fff;
  background-color: #4c9f38;
  border-color: #4c9f38;
}
.card-outline-primary{
  border: 3px solid rgba(0, 123, 255);
}
.list-group-item-active{
  border: 1px solid rgba(0, 123, 255);
}
.bg-dark {
    background-color: #4c9f38 !important;
}
.navbar-dark .navbar-brand{
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.btn-secondary {
  color: #fff;
  background-color: #4c9f38;
  border-color: #fff;
}
.jumbotron {
  background-color: #4c9f38;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #4c9f38;
  border-color: #fff;
}
.page-link {
  color: #fff;
  border: 1px solid #fff;
}
a {
  color: #fff;
}
.breadcrumb-item a{
  color: #4c9f38;
}
.list-group-item.active {
  color:#fff;
  background-color:#4c9f38;
  border-color:#4c9f38;
}
.list-group a{
  color: #4c9f38;
}
.table a{
  color: #4c9f38;
}
.red {
  color:red;
}
.green {
  color:green;
}
.online{
	color:#0F0;
	font-size:12px;
}
.offline{
	color:#F00;
	font-size:12px;
}
.card-header{
  color: #4c9f38;
}
.list-group-item a{
  color:#fff;
}
.card-outline-primary {
    border: 3px solid #4c9f38;
}
.bg-primary {
    background-color:
    #fff !important;
}
.text-primary {
    color: #4c9f38 !important;
}
div.tagsinput{
  width: 100%;
}
